body {
	text-align: center;
	margin: auto;
	background-image: url(images/space.gif);
	background-size: cover;
	height: 100vh;
	color: white;
}

@font-face {
	font-family: spaceFont;
	src: url(fonts/nasalization-rg.otf);
}

::-webkit-scrollbar {
  width: 0.9rem;
  background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 0.05rem solid blue;
  background: gray;
}

.card {
	background: rgba(0, 0, 0, 0.5);
	border: 2px solid blue;
	padding: 1em;
	width: 20em;
	margin: auto;
}

/* -------------------------- LOGO --------------------------- */

.logo {
	size: 0;
	margin-top: 10em;
	animation: slideIn 2s ease-out;
}

@keyframes slideIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

#logo-img-holder {
	overflow: hidden;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin: auto;
}

#title {
	font-family: spaceFont;
	font-size: 3em;
	margin: 0;
}


#logo-img {
	width: 150px;
	/* used for truck image
	object-fit: cover;  Used to crop the image of all that transparent space 
	filter: invert(100%) sepia(0%) saturate(5957%) hue-rotate(337deg)
		brightness(101%) contrast(100%); */
}

hr {
	width: 17em;
}

#slogan {
	margin: auto;
}

/* --------------------------- ABOUT ---------------------------- */

#truck-images img {
	width: 17em;
	margin: 3em;
	margin-top: 10em;
	border-radius: 15%;
	transition: transform 1s;
}

#truck-images img:hover {
	transform: scale(1.1);
}

#about {
	font-size: large;
}

.spacer {
	height: 10em;
}

/* ---------------------------- CONTACT --------------------------- */

footer h2 {
	margin: 0;
	margin-bottom: 1em;
}

footer {
	width: 20em;
}

footer div {
	margin: auto;
}



a {
	color: white;
}

a:hover {
	color: blue;
}

#phone {
	margin: 0.3em;
}